################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AutoStitcher/AutoStitcher.sln
/AutoStitcher/AutoStitcher.vcxproj.filters
/AutoStitcher/AutoStitcher.vcxproj
/AutoStitcher/AutoStitcher.VC.VC.opendb
/AutoStitcher/AutoStitcher.VC.db
/AutoStitcher/.vs/AutoStitcher/v14/.suo
